.yes{
  background: #a11c1c !important;
  color: aliceblue;
  padding: 10px 10px;
  border-radius: 20px;
  font-weight: 900;
  width:fit-content;
  height: fit-content;
  min-width: 100px;
  min-height: 50px;

}
.no{
  background: #000000 !important;
  color: aliceblue;
  padding: 10px 10px;
  border-radius: 20px;
  font-weight: 100;
  width: fit-content;
  height: 50px;
  min-width: 100px;
}
.title{
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
}
.gif-pic{
  object-fit: contain;
  height: 100%;
  width: 100%;
  max-height: 200px;
  border-radius: 20px;
}
main{
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  align-items: center;
  height: fit-content !important;
  background: #72467221;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  max-width: 1000px;
}
body{
  background: #ffffff21;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
}