main{
  width: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100%;
}

section{
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding:0px 10px ;
  flex-grow: 1;
}
